<article class="certificate">
    <span class="cert-name">
      CCENT
    </span>
    <span class="cert-org">
      Cisco:
    </span>
    <span class="cert-date">
      Issued Jan 2015 - Expired Jan 2018
    </span>
  </article>

  <article class="certificate">
    <span class="cert-name">
      AWS Developer - Associate
    </span>
    <span class="cert-org">
      Amazon:
    </span>
    <span class="cert-date">
        Issued Nov 2019 - Expires Nov 2022,
    </span>
    <span class="cert-identify">
      ID: 3P97PVVCME11Q05D
    </span>
  </article>

  <article class="certificate">
    <span class="cert-name">
    (CKAD) Certified Kubernetes Application Developer
    </span>
    <span class="cert-org">
      The Linux Foundation:
    </span>
    <span class="cert-date">
    Issued Nov 2020 - Expires Nov 2023
    </span>
    <span class="cert-identify">
    ID: LF-bsfewf3gvw
    </span>
  </article>