<article class="job-block ">

    <div class="job-meta-block">
        <div class="duty-section">
            <div class="company-name">
                <b>{{ page.company-name }}</b>
            </div>
            <div class="job-title">
                {{ page.job-title }}
            </div>
        </div>
        <div class="time-place-section">
            <div class="dates-employed">
                {{ page.date-start }} to {{ page.date-end }}
            </div>
            <div class="location">
                {{ page.location }}
            </div>
        </div>
   </div>

   

    <div class="job-description">
        {{ page.content }}
    </div>
</article>