

<article class="job-block">


    <div class="job-info-block">
        <div class="job-title title2">
            {{ page.job-title }}
        </div>
    
        <div class="duty-section">
            <div class="company-name">
                <b>{{ page.company-name }}</b>
            </div>
        </div>

        <div class="time-place-section">
            <div class="dates-employed">
                {{ page.date-start }} to {{ page.date-end }}
            </div>
            <div class="location">
                {{ page.location }}
            </div>
        </div>
   </div>

   <div class="job-description">
    {{ page.content }}
  </div>


</article>